### Import Libraries

In [37]:
# import libraries and set max column width as 100 to display 

import plotly.plotly as py
import pandas as pd
from pivottablejs import pivot_ui
import os
import qgrid

pd.set_option("display.max_colwidth", 40)
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

### Get Data

In [38]:
# Importing Data and display fill 

data_h1 = pd.read_csv("H-1B_Disclosure_Data_FY17.csv", low_memory=False, index_col=0)
print("%s MB" %(os.path.getsize('H-1B_Disclosure_Data_FY17.csv') / 1000000))

251.614924 MB

### Data Exploration

In [39]:
# display all column Names

print("Number of features: %d\n" %len(data_h1.columns))
print("##### All features ######")
for col in data_h1.columns:
    print(col)

Number of features: 52

##### All features ######
CASE_NUMBER
CASE_STATUS
CASE_SUBMITTED
DECISION_DATE
VISA_CLASS
EMPLOYMENT_START_DATE
EMPLOYMENT_END_DATE
EMPLOYER_NAME
EMPLOYER_BUSINESS_DBA
EMPLOYER_ADDRESS
EMPLOYER_CITY
EMPLOYER_STATE
EMPLOYER_POSTAL_CODE
EMPLOYER_COUNTRY
EMPLOYER_PROVINCE
EMPLOYER_PHONE
EMPLOYER_PHONE_EXT
AGENT_REPRESENTING_EMPLOYER
AGENT_ATTORNEY_NAME
AGENT_ATTORNEY_CITY
AGENT_ATTORNEY_STATE
JOB_TITLE
SOC_CODE
SOC_NAME
NAICS_CODE
TOTAL_WORKERS
NEW_EMPLOYMENT
CONTINUED_EMPLOYMENT
CHANGE_PREVIOUS_EMPLOYMENT
NEW_CONCURRENT_EMPLOYMENT
CHANGE_EMPLOYER
AMENDED_PETITION
FULL_TIME_POSITION
PREVAILING_WAGE
PW_UNIT_OF_PAY
PW_WAGE_LEVEL
PW_SOURCE
PW_SOURCE_YEAR
PW_SOURCE_OTHER
WAGE_RATE_OF_PAY_FROM
WAGE_RATE_OF_PAY_TO
WAGE_UNIT_OF_PAY
H1B_DEPENDENT
WILLFUL_VIOLATOR
SUPPORT_H1B
LABOR_CON_AGREE
PUBLIC_DISCLOSURE_LOCATION
WORKSITE_CITY
WORKSITE_COUNTY
WORKSITE_STATE
WORKSITE_POSTAL_CODE
ORIGINAL_CERT_DATE

In [40]:
# Proportions of all available Visa types in the data set 

data_h1.VISA_CLASS.value_counts(normalize = True) * 100

H-1B               97.703354
E-3 Australian      1.946210
H-1B1 Singapore     0.200752
H-1B1 Chile         0.149684
Name: VISA_CLASS, dtype: float64

In [41]:
# Getting rid of non h1b visa and checking top 10 states based on h1b visa counts

data_h1 = data_h1[data_h1["VISA_CLASS"] == "H-1B"]
pd.DataFrame(data_h1.EMPLOYER_STATE.value_counts(normalize = True)).head(10) * 100

    EMPLOYER_STATE
CA       16.706757
TX       14.211370
NJ       12.357157
IL        6.687848
NY        6.622633
MI        4.431365
PA        4.140518
MA        3.757583
MD        3.488364
WA        3.278627

In [42]:
# Most popular job in a state

most_popular_job_title = data_h1[["EMPLOYER_STATE","JOB_TITLE"]]
most_popular_job_title = most_popular_job_title.groupby(["EMPLOYER_STATE","JOB_TITLE"]).size().reset_index()
most_popular_job_title.columns = ['EMPLOYER_STATE', 'JOB_TITLE', "COUNT"]
test = most_popular_job_title.groupby(['EMPLOYER_STATE', 'JOB_TITLE']).agg({'COUNT':sum})
test = test['COUNT'].groupby(level=0, group_keys=False)
res = test.apply(lambda x: x.sort_values(ascending=False).head(1))
res = pd.DataFrame(res).reset_index()

tot = pd.DataFrame(data_h1["EMPLOYER_STATE"].value_counts()).reset_index()
tot.columns = ["EMPLOYER_STATE","TOTAL"]
res = pd.merge(res, tot, on = "EMPLOYER_STATE", how = "left")
res["PERCENTAGE"] = res["COUNT"] * 100 /res["TOTAL"]

In [43]:
res.head()

  EMPLOYER_STATE               JOB_TITLE  COUNT  TOTAL  PERCENTAGE
0             AK    MEDICAL TECHNOLOGIST      6     75    8.000000
1             AL     ASSISTANT PROFESSOR    144   1174   12.265758
2             AR      PROGRAMMER ANALYST    228   2173   10.492407
3             AS  ASSOCIATE VETERINARIAN      1      1  100.000000
4             AZ       SOFTWARE ENGINEER    281   4032    6.969246

In [44]:
# Companies in a particular state Sponsoring

def H1Bcompanies_in_state(state_two_letter, top = None):
    companies_in_ut = data_h1[data_h1["EMPLOYER_STATE"] == state_two_letter][["EMPLOYER_STATE","EMPLOYER_NAME"]]["EMPLOYER_NAME"].value_counts()
#     for c, n in zip(companies_in_ut.index, companies_in_ut):
#         print(c, n)
    if top == None:result = companies_in_ut 
    else:result = companies_in_ut.head(top)
    return result

In [45]:
# Top 10 coompanies in Utah Sponsoring H1-B

H1Bcompanies_in_state("UT", top = 10)

CONNVERTEX TECHNOLOGIES INC.     234
UNIVERSITY OF UTAH               203
OVERSTOCK.COM, INC.              100
INNOVECTURE                       69
IM FLASH TECHNOLOGIES, LLC        57
NITYA SOFTWARE SOLUTIONS, INC     44
FATPIPE TECHNOLOGIES INC.         42
ANCESTRY.COM OPERATIONS, INC.     40
ZB, N.A.                          39
VAREX IMAGING CORPORATION         30
Name: EMPLOYER_NAME, dtype: int64

In [46]:
# Top 10 companies in Georgia Sponsoring H1-B

H1Bcompanies_in_state("GA",top = 10)

EMORY UNIVERSITY                     288
CHARTER GLOBAL, INC.                 286
NIIT TECHNOLOGIES LIMITED            267
SOFTVISION, LLC                      238
PROFICIENT BUSINESS SYSTEMS, INC.    207
SOFTPATH SYSTEM LLC                  182
ADROIX CORP                          178
DEVISE SOFT, INC                     158
IDHASOFT, INC.                       158
VALUELABS, INC                       157
Name: EMPLOYER_NAME, dtype: int64

In [47]:
# Levels share

data_h1["PW_WAGE_LEVEL"].value_counts(normalize = True) * 100

Level I      44.538002
Level II     35.991126
Level III    12.417337
Level IV      7.053536
Name: PW_WAGE_LEVEL, dtype: float64

In [48]:
# Top 10 H1B job titles in USA

title = pd.DataFrame(data_h1.JOB_TITLE.value_counts()).reset_index()
title["Percentage"] = pd.DataFrame(data_h1.JOB_TITLE.value_counts
                                   (normalize = True) * 100).reset_index()["JOB_TITLE"]
title.columns = ["title","count","perc"]
title.head(10)

                      title  count      perc
0        PROGRAMMER ANALYST  47007  7.702290
1         SOFTWARE ENGINEER  27636  4.528272
2        SOFTWARE DEVELOPER  16019  2.624779
3           SYSTEMS ANALYST  10751  1.761596
4          BUSINESS ANALYST   7349  1.204164
5       COMPUTER PROGRAMMER   7277  1.192366
6  SENIOR SOFTWARE ENGINEER   6855  1.123220
7  COMPUTER SYSTEMS ANALYST   6522  1.068657
8                 DEVELOPER   5824  0.954286
9       ASSISTANT PROFESSOR   4934  0.808456

In [49]:
# Where does Data Science and related title Stand here?

print("Percentage of Data Science and Related Titles %f"
      %(100 * title[title["title"].str.contains("DATA SCIENC")]["perc"].sum()))

Percentage of Data Science and Related Titles 5.833206

In [131]:
# Checking available "PW_UNIT_OF_PAY"

data_h1["PW_UNIT_OF_PAY"].value_counts(normalize = True)

Year         0.938129
Hour         0.061128
Month        0.000483
Week         0.000185
Bi-Weekly    0.000074
Name: PW_UNIT_OF_PAY, dtype: float64

In [132]:
# Creating "ACTUAL_SALARY" variable to normalize all the salaries  

# unitpay_to_num = {"Year":1, "Hour": 2080, "Month": 12, "Bi-Weekly": 24}
# data_h1["MULTIPLIER"] = data_h1["PW_UNIT_OF_PAY"].map(unitpay_to_num)
# data_h1["ACTUAL_SALARY"] = data_h1["WAGE_RATE_OF_PAY_FROM"] * data_h1["MULTIPLIER"]

# retaining only yearly pays
data_h1 = data_h1[data_h1["PW_UNIT_OF_PAY"] == "Year"]

In [133]:
# What are associate data scientist are being paid in US?

ass_ds = data_h1[data_h1["JOB_TITLE"] == "ASSOCIATE DATA SCIENTIST"][["WAGE_RATE_OF_PAY_FROM","PW_UNIT_OF_PAY","EMPLOYER_NAME","EMPLOYER_CITY","EMPLOYER_STATE"]]
ass_ds = ass_ds.reset_index(drop = True)

In [134]:
# Visualization of Associate Data Scientist 

viz = ass_ds.sort_values(by = "WAGE_RATE_OF_PAY_FROM", ascending= False)

In [135]:
#viz = viz.drop("text", axis = 1)

viz["WAGE_RATE_OF_PAY_FROM"] = viz["WAGE_RATE_OF_PAY_FROM"].astype(float)
final_viz = pd.DataFrame(viz.groupby(['EMPLOYER_STATE'])['WAGE_RATE_OF_PAY_FROM'].mean()).reset_index()

In [136]:
# fill missing job titles with "not available"

data_h1["JOB_TITLE"] = data_h1["JOB_TITLE"].fillna("not available")

### Only Data Science related jobs

In [142]:
def dataviz_job_salary_dist(data, job_title_list, salary_column):
    df_list = [data_h1[data_h1["JOB_TITLE"].str.contains(jt)] for jt in job_title_list]
    result_df = pd.concat(df_list, axis = 1)
    return ( result_df, pd.DataFrame(result_df.groupby(['EMPLOYER_STATE'])[salary_column].mean()).reset_index())

In [156]:
result_df, all_final_viz = dataviz_job_salary_dist(data_h1[data_h1["NEW_EMPLOYMENT"] == 1], ["BUSINESS ANALYST"],"WAGE_RATE_OF_PAY_FROM")

In [158]:
result_df

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE,MULTIPLIER,ACTUAL_SALARY
11,I-200-16083-623465,CERTIFIED-WITHDRAWN,2016-03-23,2016-10-02,H-1B,2016-09-22,2019-09-20,ADVANCED TECHNOLOGY GROUP USA INC,NaN,666 PLAINSBORO RD,PLAINSBORO,NJ,08536,UNITED STATES OF AMERICA,NaN,6092695555,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1131,COMPUTER PROGRAMMERS,541511,1,1,0,0,0,0,0,Y,63170.0,Year,Level I,Other,2015.0,ONLINE WAGE LIBRARY,63200.00,0.0,Year,Y,N,Y,Y,NaN,PRINCETON,MERCER,NJ,08540,2016-03-29,1.0,63200.00
253,I-200-16271-901057,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-09-27,2019-09-26,GENOME INTERNATIONAL CORPORATION,NaN,8000 EXCELSIOR DRIVE,MADISON,WI,53717,UNITED STATES OF AMERICA,NaN,6088335855,12,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,76835.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,77000.00,0.0,Year,Y,N,Y,Y,NaN,SOUTH SAN FRANCISCO,SAN MATEO,CA,94080,NaN,1.0,77000.00
283,I-200-16271-441484,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-03,2019-10-02,"ONCORRE, INC.",NaN,672 U.S. 202/206 NORTH,BRIDGEWATER,NJ,08807,UNITED STATES OF AMERICA,NaN,9084507575,NaN,Y,"MALIK, JITESH",NANUET,NY,BUSINESS ANALYST,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511,1,1,0,0,0,0,0,Y,65083.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,65083.00,0.0,Year,Y,N,Y,NaN,NaN,BRIDGEWATER,SOMERSET,NJ,08807,NaN,1.0,65083.00
346,I-200-16271-038781,CERTIFIED,2016-09-27,2016-10-03,H-1B,2017-03-27,2020-01-29,ICERTIS INC.,NaN,"14711 NE 29TH PLACE, SUITE 100",BELLEVUE,WA,98007,UNITED STATES OF AMERICA,NaN,4258697649,NaN,Y,"CHEETHAM, JANET",SEATTLE,WA,BUSINESS ANALYST-CONTRACT MANAGEMENT...,15-1121,COMPUTER SYSTEMS ANALYSTS,541512,1,0,1,0,0,0,0,Y,115773.0,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,120000.00,135000.0,Year,N,N,NaN,NaN,NaN,BELLEVUE,KING,WA,98007,NaN,1.0,120000.00
373,I-200-16271-263893,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-01,2019-09-30,"AMERICAN TECHNOLOGY CONSULTING, LLC",NaN,12951 UNIVERSITY AVE.,CLIVE,IA,50325,UNITED STATES OF AMERICA,NaN,5159745619,NaN,Y,"HARDING, RICHARD",CALABASAS HILLS,CA,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,55411.0,Year,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,60000.00,70000.0,Year,Y,N,Y,NaN,NaN,RIVERSIDE,RIVERSIDE,CA,92521,NaN,1.0,60000.00
376,I-200-16271-721943,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-01,2019-09-30,"AMERICAN TECHNOLOGY CONSULTING, LLC",NaN,12951 UNIVERSITY AVE.,CLIVE,IA,50325,UNITED STATES OF AMERICA,NaN,5159745619,NaN,Y,"HARDING, RICHARD",CALABASAS HILLS,CA,IT BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,60195.0,Year,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,61000.00,81000.0,Year,Y,N,Y,NaN,NaN,DES MOINES,POLK,IA,50392,NaN,1.0,61000.00
443,I-200-16270-804958,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-01,2019-10-01,HITACHI CONSULTING CORPORATION,NaN,14643 DALLAS PARKWAY,DALLAS,TX,75254,UNITED STATES OF AMERICA,NaN,2146656830,NaN,N,",",NaN,NaN,SENIOR BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541512,1,1,0,0,0,0,0,Y,78957.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,78957.00,0.0,Year,N,N,NaN,Y,NaN,DALLAS,DALLAS,TX,75254,NaN,1.0,78957.00
475,I-200-16271-695245,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-01,2019-10-01,MYTHRI CONSULTING LLC,NaN,1721 W PLANO PKWY,PLANO,TX,75075,UNITED STATES OF AMERICA,NaN,5104745326,NaN,Y,"ALEMU, SAMUEL",SCHAUMBURG,IL,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,541511,1,0,0,0,0,0,1,Y,55931.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,66789.00,0.0,Year,N,N,NaN,Y,NaN,PLANO,COLLIN,TX,75075,NaN,1.0,66789.00
530,I-200-16271-824311,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-09-27,2019-09-26,"TECH MAHINDRA (AMERICAS),INC.",NaN,4965 PRESTON PARK BOULEVARD,PLANO,TX,75093,UNITED STATES OF AMERICA,NaN,9729912900,NaN,N,",",NaN,NaN,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,541511,1,0,0,0,0,0,1,Y,60757.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,60757.00,0.0,Year,Y,N,Y,Y,NaN,LOUISVILLE,JEFFERSON,KY,40225,NaN,1.0,60757.00
582,I-200-16271-573039,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-09-27,2019-09-26,"KRIDDHA TECHNOLOGIES, INC.",NaN,5776 STONERIDGE MALL ROAD,PLEASANTON,CA,94588,UNITED STATES OF AMERICA,NaN,4087588658,NaN,Y,"SHEPARD, MICHELLE",WOBURN,MA,IT BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,1,0,Y,75608.0,Year,Level II,Other,2016.0,OFLC ONLINE DATA CENTER,75608.00,0.0,Year,Y,N,Y,NaN,NaN,CARY,WAKE,NC,27513,NaN,1.0,75608.00
642,I-200-16270-978090,CERTIFIED,2016-09-27,2016-10-03,H-1B,2017-03-05,2020-03-04,PELLA CORPORATION,NaN,102 MAIN STREET,PELLA,IA,50219,UNITED STATES OF AMERICA,NaN,6416211000,NaN,Y,"YOST, PETER",MINNEAPOLIS,MN,SENIOR CRM BUSINESS ANALYST,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",321911,1,0,1,0,0,0,0,Y,95400.0,Year,NaN,Other,2016.0,WILLIS TOWERS WATSON:PROFESSIONAL (T...,95400.00,104638.0,Year,N,N,NaN,NaN,NaN,PELLA,MARION,IA,50219,NaN,1.0,95400.00
893,I-200-16271-403452,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-09-27,2019-09-27,DEDICATED TECH SERVICES INC.,NaN,580 N. FOURTH STREET,COLUMBUS,OH,43215,UNITED STATES OF AMERICA,NaN,6144699762,NaN,Y,"WHITE, ROBERT",SCHAUMBURG,IL,BUSINESS ANALYST,15-2031,OPERATIONS RESEARCH ANALYSTS,5416,1,1,0,0,0,0,0,Y,66914.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,67000.00,110000.0,Year,N,N,NaN,NaN,NaN,COLUMBUS,FRANKLIN,OH,43215,NaN,1.0,67000.00
900,I-200-16271-019522,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-10,2019-10-09,"CIBER, INC.",NaN,6312 SOUTH FIDDLER'S GREEN CIRCLE,GREENWOOD VILLAGE,CO,80111,UNITED STATES OF AMERICA,NaN,3039632172,NaN,N,",",NaN,NaN,SALESFORCE BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,5415,1,0,0,0,0,1,0,Y,114400.0,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,120000.00,130000.0,Year,N,N,NaN,NaN,NaN,CHARLOTTE,MECKLENBERG,NC,28202,NaN,1.0,120000.00
946,I-200-16271-741123,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-04,2019-10-03,SOFTWAREART CORP.,NaN,27 WATER STREET,WAKEFIELD,MA,01880,UNITED STATES OF AMERICA,NaN,7812459050,NaN,Y,"WAXMAN, ESQ., NATHAN",NEW YORK,NY,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,64147.0,Year,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,64147.00,0.0,Year,N,N,NaN,NaN,NaN,FLORHAM PARK,MORRIS,NJ,07932,NaN,1.0,64147.00
972,I-200-16270-501291,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-03,2019-10-02,ACCENTURE LLP,NaN,161 N. CLARK ST.,CHICAGO,IL,60601,UNITED STATES OF AMERICA,NaN,3126930161,NaN,Y,"GUPTA, OISHIKA",CHICAGO,IL,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,5416,1,1,0,0,0,0,0,Y,74901.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,83200.00,0.0,Year,N,N,NaN,NaN,NaN,AUBURN HILLS,OAKLAND,MI,48326,NaN,1.0,83200.00
1029,I-200-16271-318447,CERTIFIED,2016-09-27,2016-10-03,H-1B,2017-02-15,2020-02-14,"ADVANSYS, INC.",NaN,"722 GRANT STREET, SUITE I",HERNDON,VA,20170,UNITED STATES OF AMERICA,NaN,7037080870,NaN,Y,"MYALIL, JOHNSON",RESTON,VA,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,1,0,0,0,0,Y,83304.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,100000.00,110000.0,Year,Y,N,Y,NaN,NaN,WASHINGTON,WASHINGTON,DC,20433,NaN,1.0,100000.00
1050,I-200-16271-045092,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-10,2019-10-09,ZUSYS INC,ZUSYS INC,"8501, WADE BLVD",FRISCO,TX,75034,UNITED STATES OF AMERICA,NaN,4698882026,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,61776.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,63000.00,0.0,Year,N,N,NaN,Y,NaN,SALEM,MARION,OR,97302,NaN,1.0,63000.00
1156,I-200-16266-321194,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-03,2019-10-03,HEADSTRONG SERVICES LLC,NaN,51 JFK PARKWAY,SHORT HILLS,NJ,07078,UNITED STATES OF AMERICA,NaN,8004345808,NaN,Y,"SCHRAGER, JENNY",NEW YORK,NY,LEAD BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541611,1,0,0,0,0,0,1,Y,76170.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,107100.00,0.0,Year,N,N,NaN,Y,NaN,LOS ANGELES,LOS ANGELES,CA,90067,NaN,1.0,107100.00
1184,I-200-16271-964847,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-09-27,2019-09-26,"AMERICAN TECHNOLOGY CONSULTING, LLC",NaN,12951 UNIVERSITY AVE.,CLIVE,IA,50325,UNITED STATES OF AMERICA,NaN,5159745619,NaN,Y,"HARDING, RICHARD",CALABASAS HILLS,CA,IT BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,60195.0,Year,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,61000.00,81000.0,Year,Y,N,Y,NaN,NaN,DES MOINES,POLK,IA,50392,NaN,1.0,61000.00
1195,I-200-16270-110971,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-03,2019-10-02,"TORY BURCH, LLC",NaN,11 WEST 19TH STREET,NEW YORK,NY,10011,UNITED STATES OF AMERICA,NaN,6467382754,NaN,Y,"FORTINO-BROWN, SUSAN",CHICAGO,IL,SENIOR BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,448120,1,0,0,0,0,1,0,Y,84864.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,125000.00,0.0,Year,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10014,NaN,1.0,125000.00
1243,I-200-16271-492816,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-03,2017-09-30,COLLASYS LLC,NaN,28411 NORTHWESTERN HWY SUITE 620,SOUTHFIELD,MI,48034,UNITED STATES OF AMERICA,NaN,2487990400,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,74048.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,75000.00,0.0,Year,Y,N,Y,NaN,NaN,GLEN ALLEN,HENRICO COUNTY,VA,23060,NaN,1.0,75000.00
1401,I-200-16265-222792,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-11,2019-10-10,THE OPTIONS CLEARING CORPORATION,NaN,"ONE NORTH WACKER DRIVE, SUITE 500",CHICAGO,IL,60606,UNITED STATES OF AMERICA,NaN,3123226851,NaN,Y,"LINDT, MARKETA",CHICAGO,IL,SENIOR BUSINESS ANALYST,15-2031,OPERATIONS RESEARCH ANALYSTS,541512,1,0,0,0,0,1,0,Y,85675.0,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,102000.00,0.0,Year,N,N,NaN,Y,NaN,CHICAGO,COOK,IL,60606,NaN,1.0,102000.00
1539,I-200-14076-981937,CERTIFIED-WITHDRAWN,2014-03-17,2016-10-04,H-1B,2014-08-01,2017-08-01,KAIZEN TECHNOLOGIES INC.,NaN,"1, LINCOLN HIGHWAY",EDISON,NJ,08820,UNITED STATES OF AMERICA,NaN,7324529559,NaN,Y,"RAMASAMI, KAVITHA",New York,NY,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,1,0,0,0,0,0,Y,62442.0,Year,Level I,OES,2013.0,OFLC ONLINE DATA CENTER,62442.00,0.0,Year,Y,N,Y,Y,NaN,"EDISON,",MIDDLESEX,NJ,08820,2014-03-21,1.0,62442.00
1755,I-200-16270-554079,CERTIFIED,2016-09-28,2016-10-04,H-1B,2017-03-03,2020-03-02,SYLVAN CORPORATION,NaN,1309 S. MARY AVENUE,SUNNYVALE,CA,94087,UNITED STATES OF AMERICA,NaN,4089620680,NaN,Y,"LILADHAR-HATHI, INDU",SAN JOSE,CA,ENTITY INTEGRATION BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,1,0,0,0,0,Y,114795.0,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,115000.00,130000.0,Year,N,N,NaN,NaN,NaN,MILPITAS,SANTA CLARA,CA,95035,NaN,1.0,115000.00
1997,I-200-16272-207314,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-12-03,2019-12-02,"ERP ANALYSTS, INC.","ERP ANALYSTS, INC.",425 METRO PLACE NORTH,DUBLIN,OH,43017,UNITED STATES OF AMERICA,NaN,6147189222,NaN,Y,"SHIHAB, SAM",DUBLIN,OH,IT BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541512,1,0,0,1,0,0,0,Y,64813.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,64813.00,0.0,Year,Y,N,Y,NaN,NaN,NEW YORK,NEW YORK,NY,10010,NaN,1.0,64813.00
2075,I-200-16272-284237,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-30,2017-09-29,SAIBERSYS INC,NaN,"2840 KELLER SPRINGS RD, STE# 401",CARROLLTON,TX,75006,UNITED STATES OF AMERICA,NaN,2147053015,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,64501.0,Year,Level I,OES,2015.0,OFLC ONLINE DATA CENTER,65000.00,0.0,Year,Y,N,N,Y,NaN,RICHFIELD,HENNEPIN,MN,55423,NaN,1.0,65000.00
2134,I-200-16272-189880,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-31,2019-10-30,AIRLINE TARIFF PUBLISHING COMPANY (A...,NaN,45005 AVIATION DRIVE,DULLES,VA,20166-7513,UNITED STATES OF AMERICA,NaN,7034717510,NaN,Y,"ELLIOTT, KENDRA",ENOLA,PA,SR. BUSINESS ANALYST LEVEL II,15-2031,OPERATIONS RESEARCH ANALYSTS,541511,1,0,0,0,0,1,0,Y,90979.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,90979.00,110000.0,Year,N,N,NaN,NaN,NaN,DULLES,LOUDOUN,VA,20166-7513,NaN,1.0,90979.00
2163,I-200-16272-872098,CERTIFIED,2016-09-28,2016-10-04,H-1B,2017-01-09,2020-01-08,GET REAL PROJECT MANAGEMENT,NaN,7740 ROLLING ACRES DRIVE,DALLAS,TX,75248,UNITED STATES OF AMERICA,NaN,2147628429,NaN,Y,"MANNA, MIGUEL",RALEIGH,NC,BUSINESS ANALYST - TESTER,15-1121,COMPUTER SYSTEMS ANALYSTS,541611,1,0,0,0,0,1,0,Y,78957.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,80000.00,100000.0,Year,N,N,NaN,NaN,NaN,DALLAS,DALLAS,TX,75254,NaN,1.0,80000.00
2167,I-200-16272-849747,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-28,2019-09-27,"FLEX CONSULTING GROUP, INC.",NaN,485 ROUTE 1 SOUTH,EDISON,NJ,08817,UNITED STATES OF AMERICA,NaN,9085654764,NaN,Y,"KARPENKO, VALENTIN",SUWANEE,GA,BUSINESS ANALYST (SYSTEMS ANALYST),15-1121,COMPUTER SYSTEMS ANALYSTS,541519,1,0,0,0,0,0,1,Y,59550.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,64813.00,0.0,Year,Y,N,Y,NaN,NaN,RICHMOND,HENRICO,VA,23233,NaN,1.0,64813.00
2277,I-200-16271-411899,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-04,2019-10-03,ACCENTURE LLP,NaN,161 N. CLARK ST.,CHICAGO,IL,60601,UNITED STATES OF AMERICA,NaN,3126930161,NaN,Y,"GUPTA, OISHIKA",CHICAGO,IL,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,5416,1,0,0,0,0,0,1,Y,61818.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,85200.00,0.0,Year,N,N,NaN,NaN,NaN,CINCINNATI,HAMILTON,OH,45242,NaN,1.0,85200.00
2286,I-200-16272-524447,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-01,2019-10-01,HITACHI CONSULTING CORPORATION,NaN,14643 DALLAS PARKWAY,DALLAS,TX,75254,UNITED STATES OF AMERICA,NaN,2146656830,NaN,N,",",NaN,NaN,SENIOR BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541512,1,0,0,0,0,0,1,Y,65707.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,83013.00,0.0,Year,N,N,NaN,Y,NaN,OMAHA,DOUGLAS,NE,68118,NaN,1.0,83013.00
2316,I-200-16272-234994,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-28,2019-09-28,INFOTECH PRISM LLC,NaN,11785 NORTH FALL LANE,ALPHARETTA,GA,30009,UNITED STATES OF AMERICA,NaN,7705730666,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,5,0,0,0,0,5,0,Y,47154.0,Year,Level I,OES,2015.0,OFLC ONLINE DATA CENTER,65000.00,0.0,Year,Y,N,Y,NaN,NaN,ALPHARETTA,FULTON,GA,30009,NaN,1.0,65000.00
2355,I-200-16272-029163,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-28,2019-09-27,"RST SOLUTIONS, INC.",NaN,1500 HORIZON DRIVE,CHALFONT,PA,18914,UNITED STATES OF AMERICA,NaN,6106138699,NaN,Y,"DYER, DUSTIN",GLEN ALLEN,VA,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,541511,1,0,0,0,0,0,1,Y,86590.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,90000.00,0.0,Year,Y,N,Y,NaN,NaN,STAMFORD,FAIRFIELD,CT,06902,NaN,1.0,90000.00
2379,I-200-16272-005263,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-05,2017-03-09,"CYBERSOLVE IT, INC.",NaN,"2245 KELLER WAY, STE.# 300",CARROLLTON,TX,75006,UNITED STATES OF AMERICA,NaN,9727745055,NaN,Y,"BOWMAN, ADENA",HOUSTON,TX,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,62754.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,68000.00,0.0,Year,N,N,NaN,N,NaN,CARROLLTON,DALLAS,TX,75006,NaN,1.0,68000.00
2543,I-200-16272-127506,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-30,2019-09-29,DELOITTE CONSULTING LLP,NaN,1700 MARKET STREET,PHILADELPHIA,PA,19103,UNITED STATES OF AMERICA,NaN,9736025495,NaN,Y,"MICHAELS, REBECCA",TORONTO,NaN,BUSINESS ANALYST,13-2051,FINANCIAL ANALYSTS,54161,15,0,0,0,0,0,15,Y,52666.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,62000.00,85600.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60606,NaN,1.0,62000.00
2667,I-200-16272-293648,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-09-28,2019-09-27,CORP2CORP INC,NaN,"239 WASHINGTON STREET,",JERSEY CITY,NJ,07302,UNITED STATES OF AMERICA,NaN,9179073079,NaN,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,64813.0,Year,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,65000.00,0.0,Year,Y,N,Y,Y,NaN,WOODCLIFF LAKE,BERGEN,NJ,07677,NaN,1.0,65000.00
2679,I-200-16272-904587,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-15,2019-10-14,"ABHRA INC., PREVIOUSLY KNOWN AS ITAL...",NaN,13610 BARRETT OFFICE DR,MANCHESTER,MO,63021,UNITED STATES OF AMERICA,NaN,3147204402,NaN,Y,"REDDY, PRASHANTHI",NEW YORK,NY,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,541511,1,0,0,0,0,0,1,Y,77272.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,77272.00,0.0,Year,Y,N,Y,NaN,NaN,IRVINE,ORANGE,CA,92617,NaN,1.0,77272.00
2751,I-200-16271-129527,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-04,2019-10-03,ACCENTURE LLP,NaN,161 N. CLARK ST.,CHICAGO,IL,60601,UNITED STATES OF AMERICA,NaN,3126930161,NaN,Y,"GUPTA, OISHIKA",CHICAGO,IL,BUSINESS ANALYST,13-1111,MANAGEMENT ANALYSTS,5416,1,0,0,0,0,0,1,Y,86029.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,92400.00,0.0,Year,N,N,NaN,NaN,NaN,NEW PROVIDENCE,UNION,NJ,07974,NaN,1.0,92400.00
2848,I-200-16272-208665,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-01,2017-09-30,SUN-IT SOLUTIONS INC,NaN,13241 BARTRAM PARK BLVD,JACKSONVILLE,FL,32258,UNITED STATES OF AMERICA,NaN,9047317330,NaN,Y,"EMANDI, RANI",NEW YORK,NY,QUALITY & BUSINESS ANALYST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",541511,1,0,0,0,0,0,1,Y,60341.0,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,61000.00,0.0,Year,Y,N,Y,NaN,NaN,ENGLEWOOD,ARAPAHOE,CO,80112,NaN,1.0,61000.00
2917,I-200-16271-713530,CERTIFIED,2016-09-28,2016-10-04,H-1B,2016-10-10,2019-10-09,AMAZON CORPORATE LLC,NaN,2021 7TH AVENUE,SEATTLE,WA,98121,UNITED STATES OF AMERICA,NaN,2062661000,NaN,Y,"LE, NHU-Y",BOSTON,MA,BUSINESS ANALYST II,15-2031,OPERATIONS RESEARCH ANALYSTS,454111,1,0,0,0,0,1,0,Y,78520.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,95000.00,0.0,Year,N,N,NaN,NaN,NaN,SEATTLE,KING,WA,98109,NaN,1.0,95000.00
2992,I-200-16278-028317,WITHDRAWN,2016-10-04,2016-10-04,H-1B,2016-10-17,2019-10-17,"SMART WORKS, LLC","SMARTWORKS, LLC","55 CARTER DR.,",EDISON,NJ,08817,UNITED STATES OF AMERICA,NaN,7329858800,129,N,",",NaN,NaN,BUSINESS ANALYST,15-1121,COMPUTER SYSTEMS ANALYSTS,54151,1,0,0,0,0,1,0,Y,76170.0,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,85000.00,0.0,Year,Y,N,Y,NaN,NaN,EL SEGUNDO,LOS ANGELES,LA,90245,NaN,1.0,85000.00
3020,I-200-14062-770124,CERTIFIED-WITHDRAWN,2014-03-03,2016-10-05,H-1B,2014-08-30,2017-08-29,"RICHRELEVANCE, INC.",NaN,633 FOLSOM STREET,SAN FRANCISCO,CA,94107,UNITED STATES OF AMERICA,NaN,4159561947,NaN,Y,"Spiegel, Lisa",San Francisco,CA,BUSINESS ANALYST,15-1199.08,BUSINESS INTELLIGENCE ANALYSTS,541511,1,1,0,0,0,0,0,Y,76024.0,Year,Level II,OES,2013.0,OFLC ONLINE DATA CENTER,87656.62,0.0,Year,N,N,NaN,Y,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94107,2014-03-07,1.0,87656.62
3040,I-200-15030-169717,CERTIFIED-WITHDRAWN,2015-02-02,2016-10-05,H-1B,2015-07-30,2018-07-29,"EXPEDIA, INC.",NaN,333 108TH AVENUE NE,BELLEVUE,WA,98004,UNITED STATES OF AMERICA,NaN,4256797200,NaN,Y,"GONZALES, MARGRET ANN",SAN FRANCISCO,CA,SENIOR FINANCE BUSINESS ANALYST,15-2031,OPERATIONS RESEARCH ANALYSTS,5415,1,1,0,0,0,0,0,Y,74755.0,Year,Level II,OES,2014.0,OFLC ONLINE DATA CENTER,83000.00,102500.0,Year,N,N,NaN,NaN,NaN,BELLEVUE,KING,WA,98004,2015-02-06,1.0,83000.00

#### PLOTLY

In [157]:
df = all_final_viz
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['EMPLOYER_STATE'] + '<br>' +'Salary '+ df['WAGE_RATE_OF_PAY_FROM']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['EMPLOYER_STATE'],
        z = df['WAGE_RATE_OF_PAY_FROM'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = 'H1 B Heat Map',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jonamjar/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [61]:
test = data_h1[data_h1["EMPLOYER_NAME"] == "OVERSTOCK.COM, INC."]
test[test["JOB_TITLE"] =="ASSOCIATE DATA SCIENTIST"].T

                                                   210109
CASE_NUMBER                            I-200-17052-877782
CASE_STATUS                                     CERTIFIED
CASE_SUBMITTED                                 2017-02-27
DECISION_DATE                                  2017-03-03
VISA_CLASS                                           H-1B
EMPLOYMENT_START_DATE                          2017-08-21
EMPLOYMENT_END_DATE                            2020-08-20
EMPLOYER_NAME                         OVERSTOCK.COM, INC.
EMPLOYER_BUSINESS_DBA                                 NaN
EMPLOYER_ADDRESS                    799 WEST COLISEUM WAY
EMPLOYER_CITY                                     MIDVALE
EMPLOYER_STATE                                         UT
EMPLOYER_POSTAL_CODE                                84047
EMPLOYER_COUNTRY                 UNITED STATES OF AMERICA
EMPLOYER_PROVINCE                                     NaN
EMPLOYER_PHONE                                 8019473237
EMPLOYER_PHONE_EXT                                    NaN
AGENT_REPRESENTING_EMPLOYER                             Y
AGENT_ATTORNEY_NAME                        PALDINO, FRANK
AGENT_ATTORNEY_CITY                              NEW YORK
AGENT_ATTORNEY_STATE                                   NY
JOB_TITLE                        ASSOCIATE DATA SCIENTIST
SOC_CODE                                          15-2031
SOC_NAME                     OPERATIONS RESEARCH ANALYSTS
NAICS_CODE                                         454111
TOTAL_WORKERS                                           1
NEW_EMPLOYMENT                                          1
CONTINUED_EMPLOYMENT                                    0
CHANGE_PREVIOUS_EMPLOYMENT                              0
NEW_CONCURRENT_EMPLOYMENT                               0
CHANGE_EMPLOYER                                         0
AMENDED_PETITION                                        0
FULL_TIME_POSITION                                      Y
PREVAILING_WAGE                                     44138
PW_UNIT_OF_PAY                                       Year
PW_WAGE_LEVEL                                     Level I
PW_SOURCE                                             OES
PW_SOURCE_YEAR                                       2016
PW_SOURCE_OTHER                   OFLC ONLINE DATA CENTER
WAGE_RATE_OF_PAY_FROM                               65000
WAGE_RATE_OF_PAY_TO                                     0
WAGE_UNIT_OF_PAY                                     Year
H1B_DEPENDENT                                           N
WILLFUL_VIOLATOR                                        N
SUPPORT_H1B                                           NaN
LABOR_CON_AGREE                                       NaN
PUBLIC_DISCLOSURE_LOCATION                            NaN
WORKSITE_CITY                                     MIDVALE
WORKSITE_COUNTY                            SALT LAKE CITY
WORKSITE_STATE                                         UT
WORKSITE_POSTAL_CODE                                84047
ORIGINAL_CERT_DATE                                    NaN
MULTIPLIER                                              1
ACTUAL_SALARY                                       65000

In [62]:
data_h1[data_h1["CHANGE_PREVIOUS_EMPLOYMENT"] != 0]["CASE_STATUS"].value_counts(normalize = True) * 100

CERTIFIED              91.299209
CERTIFIED-WITHDRAWN     4.889081
WITHDRAWN               2.782071
DENIED                  1.029639
Name: CASE_STATUS, dtype: float64

In [63]:
data_h1.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE',
       'MULTIPLIER', 'ACTUAL_SALARY'],
      dtype='object')

In [64]:
data_h1[data_h1["EMPLOYER_NAME"] == "OVERSTOCK.COM, INC."]["CASE_STATUS"].value_counts()

CERTIFIED              70
CERTIFIED-WITHDRAWN    18
WITHDRAWN              12
Name: CASE_STATUS, dtype: int64

In [65]:
data_h1.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE',
       'MULTIPLIER', 'ACTUAL_SALARY'],
      dtype='object')

In [78]:
data_h1[(data_h1["EMPLOYER_NAME"] == "OVERSTOCK.COM, INC.")]["ACTUAL_SALARY"].mean()

101204.17

In [76]:
data_h1[(data_h1["EMPLOYER_NAME"] == "ANCESTRY.COM OPERATIONS, INC.")| 
            (data_h1["EMPLOYER_NAME"] == "ANCESTRY.COM OPERATIONS, INC.")]["ACTUAL_SALARY"].mean()

122370.0

In [87]:
data_h1[(data_h1["EMPLOYER_NAME"] == "ANCESTRY.COM OPERATIONS, INC.")| 
            (data_h1["EMPLOYER_NAME"] == "ANCESTRY.COM OPERATIONS, INC.")][["JOB_TITLE","ACTUAL_SALARY"]]

                               JOB_TITLE  ACTUAL_SALARY
13573                  SOFTWARE ENGINEER       100000.0
47168          SENIOR ANALYTICS ENGINEER       160000.0
76023                 SOFTWARE DEVELOPER        95000.0
92464              SENIOR DATA SCIENTIST       160000.0
143514               SENIOR DATA ANALYST       155000.0
224205              SEGMENTATION ANALYST        81350.0
224214                   SYSTEMS ANALYST        56091.0
224216                SOFTWARE DEVELOPER        96518.0
224219                    DATA SCIENTIST        96900.0
227173                 SOFTWARE ENGINEER       108211.0
227179                    JAVA DEVELOPER       100000.0
227184                    DATA SCIENTIST        90200.0
227187            INFRASTRUCTURE ANALYST       124000.0
227191                     JAVA ENGINEER        92000.0
227229                    DATA SCIENTIST       143192.0
227232                     DATA ENGINEER        80000.0
227245            SOFTWARE TEST ENGINEER        76500.0
229375                SOFTWARE DEVELOPER       101800.0
229381                 BIG DATA ENGINEER       101040.0
229382                  BUSINESS ANALYST       112288.0
312337           SENIOR RESEARCH ANALYST       160000.0
416204          DATA WAREHOUSE DEVELOPER       130000.0
432268             SENIOR .NET DEVELOPER       170500.0
443202         TECHNICAL PRODUCT MANAGER       115000.0
444269                SOFTWARE DEVELOPER       165000.0
466681          SENIOR SOFTWARE ENGINEER       158000.0
480537             SENIOR JAVA DEVELOPER       155000.0
488982         SENIOR SOFTWARE DEVELOPER       120000.0
489029         SENIOR SOFTWARE DEVELOPER       170000.0
495329                      DATA ANALYST       120000.0
501168         SENIOR SOFTWARE DEVELOPER       120000.0
501829                           ANALYST       120000.0
531153                 SOFTWARE ENGINEER       144210.0
553613      SOFTWARE DEVELOPMENT MANAGER       160000.0
560774                SOFTWARE DEVELOPER       100000.0
561245                SOFTWARE DEVELOPER       100000.0
569221  INT'L PERFORMANCE MEDIA DIRECTOR       160000.0
576805          SENIOR ANDROID DEVELOPER       117000.0
583185                    DATA SCIENTIST       120000.0
586368                SOFTWARE DEVELOPER       160000.0

In [67]:
data_h1[data_h1["EMPLOYER_NAME"].str.contains("ANCESTRY")][["JOB_TITLE","WAGE_RATE_OF_PAY_FROM","EMPLOYMENT_START_DATE"]]

ValueError: cannot index with vector containing NA / NaN values

In [ ]:
# # from pivottablejs import pivot_ui
# # pivot_ui(data_h1.head(10))

# qgrid_widget = qgrid.show_grid(data_h1.head(100), show_toolbar=True)
# qgrid_widget